doctype html
html
    head
        title Index Page
    body
        // JADE String 
        h1 #{name} .. !
        h2= description
        hr
        - for(var i = 0; i < 10; i++) {
            p
                a(href="http://dobo.work") Go To dobo #{i}
        - }